* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(223, 130, 10);
  font-size: 21px;
  color: rgb(2, 34, 34);
}

button {
  background-color: rgb(1, 56, 70);
  color: azure;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0 4s ease-in-out;
}

button:hover {
  background-color: rgb(123, 189, 0);
  color: rgb(18, 51, 3);
}
